body{
background:#0b0f19;
color:white;
font-family:Arial;
text-align:center;
margin:0;
}

#loginPage{
margin-top:150px;
}

input{
padding:10px;
margin:10px;
}

button{
padding:10px 20px;
background:#00ffcc;
border:none;
}

.stats{
display:flex;
justify-content:center;
gap:20px;
margin-top:40px;
flex-wrap:wrap;
}

.card{
background:#111827;
padding:20px;
border-radius:10px;
width:180px;
box-shadow:0 0 10px cyan;
}

#map{
height:500px;
margin:40px;
border-radius:10px;
}
